In [1]:
import pandas as pd
import numpy as np
import math
from geopy.geocoders import Nominatim
import

In [2]:
data = pd.read_csv('./meteorite-landings.csv')
data.head()

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass         45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45428 non-null  float64
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.5+ MB

In [6]:
data.dropna(inplace = True)
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38116 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         38116 non-null  object
 1   id           38116 non-null  int64
 2   nametype     38116 non-null  object
 3   recclass     38116 non-null  object
 4   mass         38116 non-null  float64
 5   fall         38116 non-null  object
 6   year         38116 non-null  float64
 7   reclat       38116 non-null  float64
 8   reclong      38116 non-null  float64
 9   GeoLocation  38116 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.2+ MB

In [11]:
geolocator = Nominatim(user_agent="meteorite_analysis")
def country(coord):
    try:
        location = geolocator.reverse(coord, exactly_one=True, timeout=10) 
        if location:
            address = location.raw['address']
            country_name = address.get('country', '')
            return country_name
        else:
            return "Location not found" 
    except Exception as e: 
        print(f"Error during geocoding for {coord}: {e}")
        return "Geocoding error"

ประเทศไทย

In [15]:
lat = data['reclat']
long = data['reclong']